# Entendiendo los datos

In [99]:
import pandas as pd
import numpy as np

## Estructura del Dataframe

In [53]:
df = pd.read_csv('data/train.csv')

In [54]:
df.shape

(240000, 23)

In [55]:
df.dtypes

id                              int64
titulo                         object
descripcion                    object
tipodepropiedad                object
direccion                      object
ciudad                         object
provincia                      object
antiguedad                    float64
habitaciones                  float64
garages                       float64
banos                         float64
metroscubiertos               float64
metrostotales                 float64
idzona                        float64
lat                           float64
lng                           float64
fecha                          object
gimnasio                      float64
usosmultiples                 float64
piscina                       float64
escuelascercanas              float64
centroscomercialescercanos    float64
precio                        float64
dtype: object

In [56]:
df.memory_usage()

Index                              80
id                            1920000
titulo                        1920000
descripcion                   1920000
tipodepropiedad               1920000
direccion                     1920000
ciudad                        1920000
provincia                     1920000
antiguedad                    1920000
habitaciones                  1920000
garages                       1920000
banos                         1920000
metroscubiertos               1920000
metrostotales                 1920000
idzona                        1920000
lat                           1920000
lng                           1920000
fecha                         1920000
gimnasio                      1920000
usosmultiples                 1920000
piscina                       1920000
escuelascercanas              1920000
centroscomercialescercanos    1920000
precio                        1920000
dtype: int64

In [192]:
df.head(2)

,id,titulo,descripcion,tipodepropiedad,direccion,ciudad,provincia,antiguedad,habitaciones,garages,...,idzona,lat,lng,fecha,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,precio
0,254099,depto. tipo a-402,"depto. interior de 80.15m2, consta de sala com...",Apartamento,Avenida Division del Norte 2005,Benito Juárez,Distrito Federal,NaN,2.0,1.0,...,23533.0,NaN,NaN,2015-08-23 00:00:00,False,False,False,False,False,2273000.0
1,53461,condominio horizontal en venta,"<p>entre sonora y guerrero, atr&aacute;s del h...",Casa en condominio,AV. MEXICO,La Magdalena Contreras,Distrito Federal,10.0,3.0,2.0,...,24514.0,19.310205,-99.227655,2013-06-28 00:00:00,False,False,False,True,True,3600000.0

## Cambio de tipos a tipos más convenientes

* Conversión de booleanos

In [119]:
df.gimnasio = df.gimnasio.astype(bool)
df.usosmultiples = df.usosmultiples.astype(bool)
df.piscina = df.piscina.astype(bool)
df.escuelascercanas = df.escuelascercanas.astype(bool)
df.centroscomercialescercanos =df.centroscomercialescercanos.astype(bool)
df.tipodepropiedad = df.tipodepropiedad.astype('category')
df.ciudad = df.ciudad.astype('category')
df.provincia = df.provincia.astype('category')

In [122]:
df.dtypes

id                               int64
titulo                          object
descripcion                     object
tipodepropiedad               category
direccion                       object
ciudad                        category
provincia                     category
antiguedad                     float64
habitaciones                   float64
garages                        float64
banos                          float64
metroscubiertos                float64
metrostotales                  float64
idzona                         float64
lat                            float64
lng                            float64
fecha                           object
gimnasio                          bool
usosmultiples                     bool
piscina                           bool
escuelascercanas                  bool
centroscomercialescercanos        bool
precio                         float64
dtype: object

* Existen valores numéricos que contienen *nan* o *infinito* por lo que al pasar a int se producen errores. Se preservaran en float64 para soportar estas condiciones
>  Ignorar el siguiente error

In [123]:
df.antiguedad = df.antiguedad.astype(int)

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [209]:
df.to_pickle("data/propiedades.pkl")

In [152]:
df.dtypes

id                               int64
titulo                          object
descripcion                     object
tipodepropiedad               category
direccion                       object
ciudad                        category
provincia                     category
antiguedad                     float64
habitaciones                   float64
garages                        float64
banos                          float64
metroscubiertos                float64
metrostotales                  float64
idzona                         float64
lat                            float64
lng                            float64
fecha                           object
gimnasio                          bool
usosmultiples                     bool
piscina                           bool
escuelascercanas                  bool
centroscomercialescercanos        bool
precio                         float64
dtype: object

In [60]:
df.memory_usage()

Index                              80
id                            1920000
titulo                        1920000
descripcion                   1920000
tipodepropiedad               1920000
direccion                     1920000
ciudad                        1920000
provincia                     1920000
antiguedad                    1920000
habitaciones                  1920000
garages                       1920000
banos                         1920000
metroscubiertos               1920000
metrostotales                 1920000
idzona                        1920000
lat                           1920000
lng                           1920000
fecha                         1920000
gimnasio                       240000
usosmultiples                  240000
piscina                        240000
escuelascercanas               240000
centroscomercialescercanos     240000
precio                        1920000
dtype: int64